<!DOCTYPE html>
<html>
<head>
    <title>Online Users</title>
    <link rel="stylesheet" href="/css/online.css">
</head>
<body>
    <h2>Online Users</h2>
    <table border="1" cellpadding="5">
        <thead>
            <tr>
                <th>Name</th>
                <th>Last Login</th>
            </tr>
        </thead>
        <tbody>
            <% users.forEach(function(user){ %>
            <tr>
                <td><%= user.name %></td>
                <td><%= user.lastLogin ? user.lastLogin.toLocaleString() : 'N/A' %></td>
            </tr>
            <% }); %>
        </tbody>
    </table>
    <br>
    <a href="/admin">Back to Admin Panel</a>
</body>
</html>
